# Entornos virtuales
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Base de datos local (comentando evitamos que no se suba la base de datos local)
#*.db 
#*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# Adicionala para GIT
.venv/
__pycache__/
*.pyc
.database.db
.DS_Store

